/** @format */

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
.slide1 {
  background-image: linear-gradient(
      to right,
      rgba(28, 11, 11, 0.7),
      rgba(94, 0, 0, 0.7)
    ),
    url("https://i.ibb.co/C2HFCMy/shourav-sheikh-a66s-Gf-Onnq-Q-unsplash-3.jpg");
  border-radius: 8px;
}

.slide2 {
  background-image: linear-gradient(
      to right,
      rgba(94, 0, 0, 0.7),
      rgba(91, 0, 0, 0.7)
    ),
    url("https://i.ibb.co/T0W6TMC/kelvin-t-Ac-A8mo-Ii-D3g-unsplash.jpg");
  border-radius: 8px;
}
.slide3 {
  background-image: linear-gradient(
      to right,
      rgba(117, 89, 89, 0.7),
      rgba(87, 0, 0, 0.7)
    ),
    url("https://i.ibb.co/GswvRzc/lily-banse-YHSwy6uqvk-unsplash.jpg");
  border-radius: 8px;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
@media only screen and (max-width: 576px) {
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 24px !important;
  }
}
